{% extends '_base.html' %}

{% block content %}

<!-- <div class="row image col-sm-12 ">
    <img src="assets/bg-image.png" class="img-responsive">
</div> -->
<div class="container first">
    <div class="row col-sm-12 header">
        <div class="header-text">
            <h1 class="text-left">{{ COPY.content.headline }}</h1>
            <h3 class="text-left">{{ COPY.content.headline2 }}</h3>
            <p class="byline text-left">Reported by {{ COPY.content.byline }}</p>
            <p class="byline">{{ COPY.content.pubdate }}<p>
        </div>
    </div>
</div>
<div class="container timeline">
    <div class="row">
        <div class="intro col-sm-8 col-sm-offset-2">{{COPY.content.intro}}</div>
    </div>
    <div class="row">
        {% for row in COPY.test%}
            {% set loop_first = loop.first %}
            {% include "%s.html" % (row.template) ignore missing %}
        {% endfor %}
    </div>
</div>

{% endblock %}